body{
    background:linear-gradient(#1565C0,#6DD5FA);
}
.right{
    float:right;
}
.right > li{
    float:left;
    list-style-type:none;
    padding: 12px 8px;
}
.right >li:hover{
    background: orangered;
    color: white;
}